body {
  background-color: #282c34;
  min-height: 80vh;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: 'Courier New', Courier, monospace
}

/* @media (min-width: 370px) {} */