form {
  display: grid;
  place-items: center;
  margin: 10px;
}

.email,
.password {
  width: 200px;
  height: 20px;
}

.button {
  font-size: 16px;
  margin-top: 20px;
  border-radius: 6px;
  border-color: #EEF0EF;
  background: #fff;
}