form {
  display: grid;
  place-items: center;
  margin: 10px;

}

.email,
.password,
.input {
  width: 250px;
  height: 30px;
  font-size: 20px;
  margin: 10px;
}

.button {
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  border-color: #EEF0EF;
  background: #fff;
}

.link {
  color: #fff;
}