/* General */
* {
  margin: 0;
  padding: 0;
}

/* Head */
h1,
h2 {
  text-align: left;
  margin: 50px 0 30px 30px;
}

.input {
  margin: 15px;
  width: 300px;
  font-size: 20px;
  padding: 5px;
}

.textarea {
  resize: none;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 60px;
  grid-template-areas:
    "title genre min rating comment . . "
    "movieT movieG movieM movieR movieC edit delete"
}

/* List */
.title {
  grid-area: title
}

.genre {
  grid-area: genre
}

.min {
  grid-area: min
}

.rating {
  grid-area: rating
}

.coomment {
  grid-area: comment
}

.movieT {
  grid-area: movieT
}

.movieG {
  grid-area: movieG
}

.movieM {
  grid-area: movieM
}

.movieR {
  grid-area: movieR;
}

.movieC {
  grid-area: movieC;
}

li {
  list-style: none;
}

p {
  font-size: 0.83em;
}

.edit,
.delete,
.add {
  margin: 10px 0 0 20px;
  padding: 5px;
  font-size: 16px;
  border-radius: 6px;
  border-color: #EEF0EF;
  background: #fff;
  grid-area: buttons;
  max-height: 40px;
}

.edit {
  grid-area: edit;
}

.delete {
  grid-area: delete;
}